body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  background: #f8f8f8;
  background: -webkit-linear-gradient(
    #ffffff,
    #f8f8f8
  );
  background: linear-gradient(
    #ffffff,
    #f8f8f8
  );
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
